<h2>The board:</h2>
<% @board.each do |guess| %>
  <div class="row">
    <% guess[0].each do |color| %>
      <span class="color <%= color %>"></span>
    <% end %>
    <span class="hint">
      <% guess[1].each do |hint| %>
        <% if hint == "+" %>
          <%= "&squf;" %>
        <% elsif hint == "-" %>
          <%= "&EmptyVerySmallSquare;" %>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>

<h2>Please select your guesses:</h2>

<form action="/codebreaker" method="POST">
  <select name="first">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
    <option value="brown">brown</option>
    <option value="orange">orange</option>
    <option value="black">black</option>
    <option value="white">white</option>
  </select>
  <select name="second">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
    <option value="brown">brown</option>
    <option value="orange">orange</option>
    <option value="black">black</option>
    <option value="white">white</option>
  </select>
  <select name="third">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
    <option value="brown">brown</option>
    <option value="orange">orange</option>
    <option value="black">black</option>
    <option value="white">white</option>
  </select>
  <select name="forth">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
    <option value="brown">brown</option>
    <option value="orange">orange</option>
    <option value="black">black</option>
    <option value="white">white</option>
  </select>
  <input type="submit" value="Select">
</form>


<a href="/">Start over</a>
