<h1>Welcome to Mastermind</h1>
<form action="/" method="POST">
  <legend>Please chose whom you want to be:</legend>
  <label>
    <input type="radio" name="role" value="codebreaker" checked>Codebreaker
  </label>
  <label>
    <input type="radio" name="role" value="codemaker">Codemaker
  </label>
  <input type="submit" value="Select">
</form>

<a href="/codebreaker">Codebreaker</a>
<a href="/codemaker">Codemaker</a>
