<header class="group">
  <h1>Welcome to Mastermind!</h1>
</header>

<h2>Please chose whom you want to be:</h2>
<form action="/" method="POST">
  <label>
    <input type="radio" name="role" value="codebreaker" checked><span>Codebreaker</span>
  </label>
  <label>
    <input type="radio" name="role" value="codemaker"><span>Codemaker</span>
  </label>
  <input type="submit" value="Select">
</form>
