<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mastermind</title>
  <link rel="icon" type="image/png" href="/icon.png">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <section>
    <%= yield %>
  </section>
</body>
</html>
